@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css');

/* import the necessary Bootstrap files */
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

$carousel-item-height: 300px;

$theme-colors: (
  purple-dark: $background-dark,
);

/* finally, import Bootstrap */
@import '../node_modules/bootstrap/scss/bootstrap';

@mixin zero-margin($pad-up-dn: 0px, $pad-right-left: 0) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-right-left;
}

.row-header {
  @include zero-margin();
}

.row-content {
  @include zero-margin(50px, 0);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background: $background-pale;
  @include zero-margin(20px, 0);
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background: $background-dark;

  .carousel-item {
    height: $carousel-item-height;

    p {
      background: rgba(0, 0, 0, 0.4);
      padding: 0.7rem;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
  }
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
